@model CatalogoFilmes.Models.Filme

<h2>Excluir Filme</h2>

<p>Tem certeza que deseja excluir <strong>@Model.Titulo</strong>?</p>

<form method="post">
    <button class="btn btn-danger">Excluir</button>
</form>