@model IEnumerable<CatalogoFilmes.Models.Filme>

<h2>Catálogo de Filmes</h2>

<a class="btn btn-primary" href="/Filmes/Create">Novo Filme</a>

<hr />

@await Html.PartialAsync("_FilmesListPartial", Model)